<!doctype html>
<html>
  <head>
    <title>Photo Booth</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <h1>Photo Collage Booth</h1>
    <h1>Photo Booth</h1>
    <img src="{{ url_for('video_feed') }}" width="640">
    
    <div class="controls">
        <a href="/capture?num_photos=4">Capture 4 Photos</a>
    </div>
    <label for="numPhotos">Number of Photos:</label>
    <select id="numPhotos" class="input">
      <option value="2">2 Photos</option>
      <option value="3">3 Photos</option>
      <option value="4" selected>4 Photos</option>
      <option value="6">6 Photos</option>
    </select>

    <br /><br />
    <button onclick="takePhoto()" class="btn">Take Photos</button>

    <br /><br />
    <button onclick="downloadPhoto()" class="btn">Download Photo</button>

    <br />

    <img id="result" width="600" class="" />

    <script>
      function takePhoto() {
        const numPhotos = document.getElementById("numPhotos").value;
        fetch("/capture?num_photos=" + numPhotos)
          .then((response) => response.blob())
          .then((image) => {
            const url = URL.createObjectURL(image);
            document.getElementById("result").src = url;
          });
      }
    </script>

    <script>
      function downloadPhoto() {
        const img = document.getElementById("result").src;
        const a = document.createElement("a");
        a.href = img;
        a.download = "collage.jpg";
        a.click();
      }
    </script>
  </body>
</html>
